
@{
    ViewBag.Title = "二维码展示";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}
<div class="row">
    <div class="portlet light">
        <div class="portlet-title">
            <div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
                <a id="tab_images_uploader_pickfiles" href="javascript:;" class="btn yellow">
                    <i class="fa fa-plus"></i> 添加
                </a>
            </div>
            <div class="row">
                <div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12">
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr role="row" class="heading">
                        <th width="8%" class="text-center">
                            二维码
                        </th>
                        <th width="25%" class="text-center">
                            标题
                        </th>
                        <th width="" class="text-center">
                            内容
                        </th>
                        <th width="10%" class="text-center">
                        </th>
                    </tr>
                </thead>
                <tbody id="bodycontent">
                    <tr>
                        <td>
                            <a href="../../assets/admin/pages/media/works/img1.jpg" class="fancybox-button" data-rel="fancybox-button">
                                <img class="img-responsive" src="~/QCodeImgs/xpdm1.png" />
                            </a>
                        </td>
                        <td>
                            <label>新品发布会大门</label>
                        </td>
                        <td>
                            <label>http://www.baidu.com</label>
                        </td>
                        <td class="text-center">
                            <a href="javascript:;" class="btn default btn-sm shanchu">
                                <i class="fa fa-times"></i> 删除
                            </a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加二维码</h4>
            </div>
            <div class="modal-body">
                <div id="main">
                    <div class="demo">
                        <p>请输入内容然后提交生成二维码：</p>
                        <p><input type="text" class="input" id="mytxt" value=""> <input type="button" id="sub_btn" value="提交"></p>
                        <div id="code"></div>
                    </div>

                    <br /><div class="ad_76090">
                        <script src="/js/ad_js/bd_76090.js" type="text/javascript"></script>
                    </div><br />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
            EcommerceProductsEdit.init();
        });

        $(document).on('click', '.shanchu', function () {
            var par = $(this).parent().parent();
            par.remove();
        })



        function toUtf8(str) {
            var out, i, len, c;
            out = "";
            len = str.length;
            for (i = 0; i < len; i++) {
                c = str.charCodeAt(i);
                if ((c >= 0x0001) && (c <= 0x007F)) {
                    out += str.charAt(i);
                } else if (c > 0x07FF) {
                    out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
                    out += String.fromCharCode(0x80 | ((c >> 6) & 0x3F));
                    out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
                } else {
                    out += String.fromCharCode(0xC0 | ((c >> 6) & 0x1F));
                    out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
                }
            }
            return out;
        }



        $('#tab_images_uploader_pickfiles').click(function () {
            var str = '<tr>' +
                      '<td>' +
                      '<a href="~/QCodeImgs/xpdm1.png" class="fancybox-button" data-rel="fancybox-button">' +
                      '<div class="code"></div>' +
                      '</a>' +
                      '</td>' +
                      '<td class="mytexttd">' +
                      '<input class="form-control mytext" type="text" value="" placeholder="输入标题" >' +
                      '</td>' +
                      '<td class="myqrstrtd">' +
                      '<div class="input-group">' +
                      '<input type="text" class="form-control myqrstr" placeholder="输入二维码内容">' +
                      '<span class="input-group-btn">' +
                      '<button class="btn btn-default shengcheng" type="button">生成</button>' +
                      '</span>' +
                      '</div>' +
                      '</td>' +
                      '<td class="text-center">' +
                      '<a href="javascript:;" class="btn default btn-sm baocun">' +
                      '<i class="fa fa-times"></i> 保存' +
                      '</a>' +
                      '</td>' +
                      '</tr>';
            $('#bodycontent').append(str);
        })


        $(document).on('click', '.shengcheng', function () {

            var code = $(this).parent().parent().parent().parent().find('.code');

            var str = toUtf8($(this).parent().prev().val());

            code.qrcode({
                render: "table",
                width: 110,
                height: 110,
                text: str
            });
        })

        $(document).on('click', '.baocun', function () {

            var all = $(this).parent().parent().parent().parent();
            //alert(all.find('.code').html().length);
            if (all.find('.code').html().length < 100) {
                alert('请先生成二维码！');
                return false;
            }
            var QRstr = all.find('.myqrstr').val();
            var text = all.find('.mytext').val();
            var myqrstrtd = all.find('.myqrstrtd');
            var mytexttd = all.find('.mytexttd');
            myqrstrtd.empty().html('<lable>' + QRstr + '</lable>');
            mytexttd.empty().html('<lable>' + text + '</lable>');
            $(this).parent().empty().html('<a href="javascript:;" class="btn default btn-sm shanchu"><i class="fa fa-times"></i> 删除</a>');
        })


    </script>
}

