
@{
    ViewBag.Title = "用户留言";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

}
    <!-- BEGIN PORTLET-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart theme-font-color hide"></i>
                <span class="caption-subject theme-font-color bold uppercase"></span>
                <span class="caption-helper"></span>
            </div>
            <div class="inputs">
                <div class="portlet-input input-inline input-small ">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control form-control-solid" placeholder="搜索...">
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="scroller" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                <div class="general-item-list">
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../assets/admin/layout3/img/avatar4.jpg">
                                <a href="" class="item-name primary-link">Nick Larson</a>
                                <span class="item-label">3 hrs ago</span>
                            </div>
                            <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../assets/admin/layout3/img/avatar3.jpg">
                                <a href="" class="item-name primary-link">Mark</a>
                                <span class="item-label">5 hrs ago</span>
                            </div>
                            <span class="item-status"><span class="badge badge-empty badge-warning"></span> Pending</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat tincidunt ut laoreet.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../assets/admin/layout3/img/avatar6.jpg">
                                <a href="" class="item-name primary-link">Nick Larson</a>
                                <span class="item-label">8 hrs ago</span>
                            </div>
                            <span class="item-status"><span class="badge badge-empty badge-primary"></span> Closed</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../assets/admin/layout3/img/avatar7.jpg">
                                <a href="" class="item-name primary-link">Nick Larson</a>
                                <span class="item-label">12 hrs ago</span>
                            </div>
                            <span class="item-status"><span class="badge badge-empty badge-danger"></span> Pending</span>
                        </div>
                        <div class="item-body">
                            Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../assets/admin/layout3/img/avatar9.jpg">
                                <a href="" class="item-name primary-link">Richard Stone</a>
                                <span class="item-label">2 days ago</span>
                            </div>
                            <span class="item-status"><span class="badge badge-empty badge-danger"></span> Open</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../assets/admin/layout3/img/avatar8.jpg">
                                <a href="" class="item-name primary-link">Dan</a>
                                <span class="item-label">3 days ago</span>
                            </div>
                            <span class="item-status"><span class="badge badge-empty badge-warning"></span> Pending</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-head">
                            <div class="item-details">
                                <img class="item-pic" src="../../assets/admin/layout3/img/avatar2.jpg">
                                <a href="" class="item-name primary-link">Larry</a>
                                <span class="item-label">4 hrs ago</span>
                            </div>
                            <span class="item-status"><span class="badge badge-empty badge-success"></span> Open</span>
                        </div>
                        <div class="item-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PORTLET-->
@section scripts{
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            Demo.init(); // init demo features
            Index.init(); // init index page
            Tasks.initDashboardWidget(); // init tash dashboard widget
        });
    </script>
}
