
@{
    
}
@section styles{

}
<h2>Audit</h2>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            Demo.init(); // init demo features
        });
    </script>
}
