@{

}
@section styles{

}

<h2>DataManagement</h2>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
        });
    </script>
}


