
@{
    ViewBag.Title = "品上博";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Styles/Home_Index.css" rel="stylesheet" />
}
<div id="content">
    <img id="MainImg" src="~/Images/img1.jpg" />
    <div class="btn-group btn-group-justified " role="group" aria-label="...">
        <a href="#" role="button" class="btn  tab_active_on" tag="zhenpin">珍品100</a>
        <a href="#" role="button" class="btn  tab_active_out" tag="rili">上博日历</a>
        <a href="#" role="button" class="btn tab_active_out" tag="daohang">微导航</a>
        <a href="#" role="button" class="btn  tab_active_out" tag="wangzhan">教育&网站</a>
    </div>
    <div id="c_content">
        <div id="c_content_zhenpin" class="c_content">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">大克鼎</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">大克鼎</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">大克鼎</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">大克鼎</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">大克鼎</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">大克鼎</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
        </div>
        <div id="c_content_rili" class="hidden c_content">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">上博日历</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">上博日历</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">上博日历</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">上博日历</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">上博日历</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">上博日历</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
        </div>
        <div id="c_content_daohang" class="hidden c_content">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">微导航</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">微导航</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">微导航</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">微导航</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">微导航</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">微导航</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
        </div>
        <div id="c_content_wangzhan" class="hidden c_content">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">教育&网站</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">教育&网站</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">教育&网站</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">教育&网站</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">教育&网站</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="~/Images/zhenpin1.png" />
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">教育&网站</h3>
                    <small>上博 / October22,2015</small>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var tab = $('#tab');
        $(document).on('click', '.tab_active_out', function () {
            $(this).parent().children().attr('class', 'tab_active_out btn ');
            $(this).attr('class', 'btn  tab_active_on ');
            var tag = $(this).attr('tag');
            $('#c_content').children().addClass('hidden');
            $('#c_content_' + tag).removeClass('hidden');
        })
    </script>
}