
@{
    ViewBag.Title = "馆内实时人数";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Styles/Home_PeopleNumber.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">

    </script>
}
<img id="bc" src="~/Images/bc.jpg" />
<div>
    <span>在馆人数：1人</span>
</div>
<div>
    <span>2015.11.16 15:17:59</span>
</div>